@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit.eot');
  src: url('../fonts/Larsseit.eot?#iefix') format('embedded-opentype'), url('../fonts/Larsseit.woff2') format('woff2'), url('../fonts/Larsseit.woff') format('woff'), url('../fonts/Larsseit.ttf') format('truetype'), url('../fonts/Larsseit.svg#Larsseit') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Medium.eot');
  src: url('../fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Larsseit-Medium.woff2') format('woff2'), url('../fonts/Larsseit-Medium.woff') format('woff'), url('../fonts/Larsseit-Medium.ttf') format('truetype'), url('../fonts/Larsseit-Medium.svg#Larsseit-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
